# Node Environment
NODE_ENV=development

# Application Configuration
APP_PORT=3000

# PostgreSQL Configuration
POSTGRES_USER=agro_user
POSTGRES_PASSWORD=agro_pass
POSTGRES_DB=agro_db
POSTGRES_PORT=5432
POSTGRES_HOST=db

# Database URL for TypeORM
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Volume Configuration
POSTGRES_DATA_PATH=./pgdata